<!-- 
<section>
    <div class="card">
        <div class="face">
            <h3>Coding Beast</h3>
            <h6>mobile</h6>
           
         
        </div>
        </div>
</section> -->
<section>
    <div class="container">
        <form>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <br>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <br>
            <div class="col-8 text-center m-auto">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
          </form>
    </div>
</section>

