<div class="col-lg-12 text-center my-5">
    <h1>home page</h1>
</div>

<div class="col-lg-12 text-center">
    <button [routerLink]="['/dash']" type="button" class="btn btn-primary mr-2">Dashboard</button>
    <button [routerLink]="['/pro']" type="button" class="btn btn-danger mr-2">Project</button>
    <button [routerLink]="['/header']" type="button" class="btn btn-primary mr-2">Header</button>
    <button [routerLink]="['/footer']" type="button" class="btn btn-danger mr-2">Footer</button>
    <button [routerLink]="['/eni']" type="button" class="btn btn-primary mr-2">Envo</button>
    <button [routerLink]="['/scroll']" type="button" class="btn btn-danger mr-2">Scroll</button>
    </div>

    <div> 
        <!-- <webcam [height]="400"  
                [width]="1000"  
                [trigger]="triggerObservable" 
                    (imageCapture)="handleImage($event)"> 
         </webcam> 
          
        <button class="actionBtn" (click)="triggerSnapshot();"> 
            Click Here and take the Shot</button> 
          
        <div class="snapshot" *ngIf="webcamImage"> 
          <h2>Here is your image!</h2> 
          <img [src]="webcamImage.imageAsDataUrl"/> 
        </div> -->